@model List<Category>

@foreach (var category in Model)
{
    <li>
        <a class="dropdown-item" asp-controller="Home" asp-action="CategoryProducts" asp-route-id="@category.Id">
            @category.Name
        </a>
    </li>
} 